<div id="sheet_header">
	<span class="right"><%= link_to 'New Deity', new_deity_path %></span>
	<h2>Deities</h2>
</div>

<div id="sheet">
	
<% @deities.each do |deity| %>
<div class="list">
<table>
	<tr>
		<td class="description">
			<img src="/images/FSM.png" alt"deity photo" width="100px" />
		</td>
		<td>
			<table>
			  <tr>
			    <td><strong>Name:</strong> <%= link_to h(deity.title), deity %>, <%=h deity.description %></td>
				</tr>
				<tr>
			    <td><strong>Alignment:</strong> <%=h deity.alignment.title %></td>
				</tr>
				<tr>
			    <td><strong>Domains:</strong> <%=h deity.domains %></td>
			  </tr>
			</table>
		</td>
	</tr>
</table>
</div>
<% end %>

</div>
