<p>
  <b>Title:</b>
  <%=h @race.title %>
</p>


<p>
  <b>Speed:</b>
  <%=h @race.speed %>
</p>

<p>
  <b>Size:</b>
  <%=h @race.size %>
</p>


<%= link_to 'Edit', edit_race_path(@race) %> |
<%= link_to 'Back', races_path %>