<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @language.title %>
</p>

<p>
  <b>Alphabet:</b>
  <%= @language.alphabet %>
</p>


<%= link_to 'Edit', edit_language_path(@language) %> |
<%= link_to 'Back', languages_path %>
