<% f.inputs do %>
  <%= f.input :username, :label => false %>
  <%= f.input :email, :label => false %>
	<%= f.input :password, :label => false  %>
	<%= f.input :password_confirmation, :label => false %>

<% unless f.object.new_record? %>
	
		<h3>Just the facts, ma'am</h3>

		<%= f.input :first_name %>
	  <%= f.input :last_name %>
		
	  <%= f.input :bio %>
	  <%= f.input :gender, :as => :select, :collection => User::Genders %>
	
		<h3>Play Style</h3>
		<p>Rate the importance of each of the following playing styles in your games from 1, not at all, to 5, very strongly</p>
		<%= f.input :story_focused,  :as => :select, :collection => [1,2,3,4,5] %>
		<%= f.input :tactical_focused, :as => :select, :collection => [1,2,3,4,5] %>
		<%= f.input :combat_focused, :as => :select, :collection => [1,2,3,4,5] %>
		<%= f.input :strategic_focused, :as => :select, :collection => [1,2,3,4,5] %>
	
	
		<h3>Group Memberships</h3>
		<%= f.input :groups, :label => 'Groups' %>
	
<% end %>

<% f.buttons do %>
  <%= f.commit_button %>
<% end %>
<% end %>