<div class="content">


<div id="sheet">
<div class="section right">	
	<div class="profile">
		<% if current_user && @user.username == current_user.username %>
		<p style="text-align: right;">	<%= link_to 'Edit Profile', edit_user_path(:current) %></p>
		<%end%>
		<% if @user.gender == "Female"%>
			<img src="/images/profile_female.png" alt"group photo" width="200px" />
		<% else %>
			<img src="/images/profile_male.png" alt"group photo" width="200px" />
		<% end %>
	
		<h3><%= @user.name %></h3>
		<h4>Bio</h4>
		<p><%= @user.bio %>
		<h4>Location</h4>
		<p>a location</p>
	
	</div>
</div>
<!--
<div class="section">
	<h3 class="sheet_header">How I Play</h3>
	<div class="profile_list">
		<table>
			<tr>
				<td><strong>Story</strong></td>
				<td><div style="width:<%= @user.story_focused.to_i * 40 %>px; background-color:#556B2F">&nbsp;</div></td>
			</tr>
			<tr>
				<td><strong>Tactical</strong></td>
				<td><div style="width:<%= @user.tactical_focused.to_i * 40 %>px; background-color:#8B0A50">&nbsp;</div></td>
			</tr>
			<tr>
				<td><strong>Combat</strong></td>
				<td><div style="width:<%= @user.combat_focused.to_i * 40 %>px; background-color:#993399">&nbsp;</div></td>
			</tr>
			<tr>
				<td><strong>Strategic</strong></td>
				<td><div style="width:<%= @user.strategic_focused.to_i * 40 %>px; background-color:#7F00FF">&nbsp;</div></td>
			
			</tr>
		</table>
	</div>
</div>
-->
<div class="section">
	<h3 class="sheet_header">Characters I Play</h3>
		<% if current_user && @user.username == current_user.username %>
		<p class="sheet_header"><%= link_to 'Create New Character', new_character_path %></p>
		<%end%>
<% @user.characters.map do |character| %>
<div class="profile_list">
	<table>
		<tr>
			<td class="description">
				<% if character.gender == "Female"%>
					<img src="/images/profile_female.png" alt"group photo" width="50px" />
				<% else %>
					<img src="/images/profile_male.png" alt"group photo" width="50px" />
				<% end %>
			</td>
			<td>
				<%= link_to h(character.name), character %><br />
				<strong>Class:</strong> <%=h  character.klass.title %>
				<strong>Level:</strong> 1 <br/>
				<strong>Campaign:</strong> <%=link_to h(character.campaign.title), character.campaign %>
			</td>
		</tr>
	</table>
</div>
<% end %>
</div>
<!--
<div class="section">
<h3 class="sheet_header">Places I Game</h3>
	<% @user.groups.map do |group| %>
		<div class="profile_list">
		<table>
			<tr>
				<td class="description">
					<img src="/images/group.gif" alt"group photo" width="50px" />
				</td>
				<td>
					<table>
						<tr>
							<td class="description"> Title:</td>
							<td><strong><%= link_to h(group.title), group %></strong></td>
						</tr>
						<tr>
							<td class="description">Founder:</td>
							<td><%=link_to h(group.created_by.name), group.created_by%></td>
						</tr>
						<tr>
							<td class="description">Members:</td>
							<td><%=h group.memberships.count %> members</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		</div>
	<% end %>
</div>
-->

</div>
</div>