
<div id = "character_wizard_nav">
	<ul>
		<li id ="ability_button">Abilities</li>
		<li id ="race_button">Race</li>
		<li id ="class_button">Class</li>
		<li id ="skills_button">Skills</li>
		<li id ="feats_button">Feats</li>
		<li id ="details_button">Details</li>
	</ul>
</div>


<% if f.object.new_record? %>
  <%= f.input :campaign %>
<% end %>


<div id="Abilities" class="wizard hidden" >
	<h3>Abilities</h3>

	<div class="right" style="width:350px">
			<p id="ability_description" style="border: 1px solid black; padding:5px;border-radius: 10px;
			-moz-border-radius: 10px; 
			-webkit-border-radius: 10px; min-height: 20px"></p>
		<p style="margin-top: 10px">Need some dice to roll?  Use ours!</p>
	
		<input type="button" id="roll_dice" value="Roll Dice!!!" />
		<p><span id="dice"></span></p>
	</div>
	
	<% f.inputs do %>
		<%= f.input :STR, :input_html => { :size => 3 }, :label => "Strength (STR)"  %> 
		<%= f.input :DEX, :input_html => { :size => 3 }, :label => "Dexterity (DEX)"  %>
		<%= f.input :CON, :input_html => { :size => 3 }, :label => "Constitution (CON)"  %>
		<%= f.input :INT, :input_html => { :size => 3 }, :label => "Intelligence (INT)"  %>
		<%= f.input :WIS, :input_html => { :size => 3 }, :label => "Wisdom (WIS)"  %>
		<%= f.input :CHA, :input_html => { :size => 3}, :label => "Charisma (CHA)" %>
			<% end %>
		<% @abilities = ['STR','DEX','CON','INT','WIS','CHA'] %>
		<% @abilities.each do |ability| %>
			<input disabled="disabled" type="hidden" id="TOTAL_<%=h ability %>" value="0">
			<input disabled="disabled" type="hidden" id="MISC_<%=h ability %>" value="0">
			<input disabled="disabled" type="hidden" id="MOD_<%=h ability %>" value="0">
			<% end %>
			<div style="clear:both;"></div>
</div>

<div id="Race" class="wizard hidden">
	<h3>Race</h3>
	<% f.inputs do %>
		<%= f.input :race_id, :as => :select, :collection => Race.find(:all) %>
	<% end %>
</div>

<div id="Klass" class="wizard hidden">
	<h3>Class</h3>
	<% f.inputs do %>
			<%= f.input :klass_id, :as => :select, :collection => Klass.find(:all), :label => 'Class' %> 
	<% end %>
</div>

<div id="Skills" class="wizard hidden">
	<h3>Skills</h3>
	<table style="border-collapse: collapse; border: solid 2px black; padding: 5px; width: 425px; margin-top:10px; font-size: 9px">
		<tr>
			<th colspan="10">Available Skill Points: <input disabled="disabled" type="text" id="skillz" value="0" size="2"></th>
		</tr>
		<tr style="color: white; background:black;">
			<th colspan="3">Skills</th>
			<th colspan="4"> Max Ranks <br /><span class="details">Class/Cross-Class</span></th>
			<th colspan="3"><input disabled="disabled" type="text" id="class_skill" value="4" size="2"> / 
			<input disabled="disabled" type="text" id="cross_class_skill" value="2" size="2"></th>
		<tr>
		<tr>
			<th class="details">Class<br />Skill?</th>
			<th class="details">Skill Name</th>
			<th class="details">Key<br />Ability</th>
			<th colspan="2" class="details">Skill Modifier</th>
			<th colspan = "2" class="details">Ability<br />Modifier</th>
			<th colspan = "2" class="details">Misc<br />Modifier</th>
			<th class="details"> Ranks</th>
		</tr>

		<% Skill.all.each do |skill| %>
		<tr
		<% if(skill.id.odd?)%>
			class="tableSkill"
		<% end %>	
		>	
			<td><input type="checkbox" name="klass_skill_<%=h skill.name %>" id="klass_skill_<%=h skill.name %>" value="<%=h skill.fancy_name %>" disabled="disabled"></td>
			<td style="width:110px; font-weight:bold;"><%=h skill.fancy_name %>
				<% if(skill.need_training == true)%>
				&#9632;
				<% end %>	
				</td>
			<td style="font-size:10px;">
				<%=h skill.ability %>
				<% if(skill.armor_penalty == 1)%>
						&sup1;
				<% end %>
				<% if(skill.armor_penalty == 2)%>
						&sup2;
				<% end %>	
			</td>
			<td><input disabled="disabled" type="text" id="<%=h skill.name %>_total" value="0" size="2"></td>
			<td>=</td>
			<td><input disabled="disabled" type="text" id="<%=h skill.name %>_ability_mod" value="0" size="2"></td>
			<td>+</td>
			<td><input disabled="disabled" type="text" id="<%=h skill.name %>_misc" value="0" size="2">
			<td>+</td>
			<td><input type="button" id="minus_<%=h skill.name %>" value="-" /><%= f.text_field "skill_#{skill.name}",  :size => 2, :class => "input_border" %><input type="button" id="add_<%=h skill.name %>" value="+" /></td>

		</tr> 
		<% end %>
		<tr>

			<td colspan="10" style="font-size: 8px; line-height: 10px;">
				&#9632; Denotes a skill that can be used untrained.<br />
				&sup1; Armor check penalty applies to checks <br />
				&sup2; Double the normal armor check penalty applies to checks. <br />
			</td>
		</tr>
		</table>
	
</div>

<div id="Feats" class="wizard hidden">
	<h3>Feats</h3>
</div>

<div id="Details" class="wizard hidden">
	<h3>Details</h3>
	<% f.inputs do %>
		<%= f.input :alignment_id, :as => :select, :collection => Alignment.find(:all) %>
		<%= f.input :deity_id, :as => :select, :collection => Deity.find(:all)  %>
		<%= f.input :age  %>
		<%= f.input :gender, :as => :select, :collection => Character::Genders  %>
		<%= f.input :height  %>
		<%= f.input :weight %>
		<%= f.input :eyes  %>
		<%= f.input :hair  %>
		<%= f.input :level, :as => :select, :collection => (1..20).to_a %>
	<% end %>
</div>




	


	<% f.buttons do %>
	  <%= f.commit_button %>
	<% end %>

