
<% f.inputs do %>

<div id = "character_wizard_nav">
	<ul>
		<li id ="race_button">Race</li>
		<li id ="class_button">Class</li>
		<li id ="ability_button">Abilities</li>
		<li id ="skills_button">Skills</li>
		<li id ="feats_button">Feats</li>
		<li id ="details_button">Details</li>
	</ul>
</div>

<div id="Abilities" class="wizard hidden" >
	<div class="wizard_inner">
	<h3>Abilities</h3>

	<div class="right" style="width:300px; margin-right: 10px;">
		
	
		<!--<p style="	margin-top: 15px;"><input type="button" id="roll_dice" value="Roll Dice!!!" />
		<span id="dice"></span></p> -->
	</div>
	
	<% f.inputs do %>
		<%= f.input :STR, :input_html => { :size => 3 }, :label => "Strength (STR)"  %> 
		<%= f.input :DEX, :input_html => { :size => 3 }, :label => "Dexterity (DEX)"  %>
		<%= f.input :CON, :input_html => { :size => 3 }, :label => "Constitution (CON)"  %>
		<%= f.input :INT, :input_html => { :size => 3 }, :label => "Intelligence (INT)"  %>
		<%= f.input :WIS, :input_html => { :size => 3 }, :label => "Wisdom (WIS)"  %>
		<%= f.input :CHA, :input_html => { :size => 3}, :label => "Charisma (CHA)" %>
			<% end %>
		<% @abilities = ['STR','DEX','CON','INT','WIS','CHA'] %>
		<% @abilities.each do |ability| %>
			<input disabled="disabled" type="hidden" id="TOTAL_<%=h ability %>" value="0">
			<input disabled="disabled" type="hidden" id="MISC_<%=h ability %>" value="0">
			<input disabled="disabled" type="hidden" id="MOD_<%=h ability %>" value="0">
			<% end %>
			
			</div>
</div>

<div id="Race" class="wizard hidden">
	<div class="wizard_inner">
	<h3>Race</h3>
	<div class="right">
		
	</div>

	<ul class="wizardList">
	
	<% Race.all.each do |race| %>
	<li><label for="character_race_id_<%= race.id %>"><input type="radio" name="character[race_id]" id="character_race_id_<%= race.id %>" value="<%=h race.id %>" 
		<% if @character.race_id == race.id %>
			checked
		<% end %>
		
		 /><%=h race.title %></label></li>
	
	<% end %>
	
	</ul>
	
	</div>
</div>

<div id="Klass" class="wizard hidden">
	<div class="wizard_inner">
	<h3>Class</h3>
	
		<ul class="wizardList">
		<% Klass.all.each do |klass| %>
			<li><label for="character_klass_id_<%= klass.id %>"><input type="radio" name="character[klass_id]" id="character_klass_id_<%= klass.id %>" value="<%= klass.id %>"
			<% if @character.klass_id == klass.id %>
				checked
			<% end %>
			
			/><%= klass.title %></label></li>
		<% end %>
	</ul>


	
	</div>
</div>

<div id="Skills" class="wizard hidden">
	<div class="wizard_inner">
	<h3>Skills</h3>
	<table align="center" style="border-collapse: collapse; padding: 5px; width: 400px;  margin-top:10px; font-size: 12px">
		<tr>
			<th colspan="4">Available Skill Points: <input disabled="disabled" type="text" id="skillz" value="0" size="2"></th>
		</tr>

		<% Skill.all.each do |skill| %>
		<tr
		<% if(skill.id.odd?)%>
			style="background: #FCFAE6;"
		<% end %>	
		>	
			<td><input type="checkbox" name="klass_skill_<%=h skill.name %>" id="klass_skill_<%=h skill.name %>" value="<%=h skill.fancy_name %>" disabled="disabled"></td>
			<td style="width:170px; font-weight:bold;"><%=h skill.fancy_name %>
				<% if(skill.need_training == true)%>
				&#9632;
				<% end %>	
				</td>
			<td align="center" style="font-size:12px;">
				<%=h skill.ability %>
				<% if(skill.armor_penalty == 1)%>
						&sup1;
				<% end %>
				<% if(skill.armor_penalty == 2)%>
						&sup2;
				<% end %>	
			</td>
		
			<td align="right"><input type="button" id="minus_<%=h skill.name %>" value="-" /><%= f.text_field "skill_#{skill.name}",  :size => 2, :class => "input_border" %><input type="button" id="add_<%=h skill.name %>" value="+" /></td>

		</tr> 
		<% end %>
		<tr>

			<td colspan="10" style="font-size: 8px; line-height: 10px;">
				&#9632; Denotes a skill that can be used untrained.<br />
				&sup1; Armor check penalty applies to checks <br />
				&sup2; Double the normal armor check penalty applies to checks. <br />
			</td>
		</tr>
		</table>
		
		</div>
</div>

<div id="Feats" class="wizard hidden">
	<div class="wizard_inner">
	<h3>Feats</h3>

	<div style="margin: 0px auto; width: 475px">
		<%= f.input :feats, :as => :check_boxes, :collection => Feat.all, :label => 'Feats'  %>

	</div>
	
	</div>
</div>

<div id="Details" class="wizard hidden">
	<div class="wizard_inner">
	<h3>Details</h3>
	<% f.inputs do %>
		<%= f.input :name%>
		<%= f.input :alignment_id, :as => :select, :collection => Alignment.all %>
		<%= f.input :deity_id, :as => :select, :collection => Deity.all  %>
		<%= f.input :age  %>
		<%= f.input :gender, :as => :select, :collection => Character::Genders  %>
		<%= f.input :height  %>
		<%= f.input :weight %>
		<%= f.input :eyes  %>
		<%= f.input :hair  %>
			<%= f.input :level, :as => :select, :collection => Level.all, :include_blank => false %>
	
	<% end %>
	
	<% f.buttons do %>
	  <%= f.commit_button %>
	<% end %>
	
	</div>
</div>




	


	<% end %>
