<%=h javascript_include_tag 'Dnd3.5/character', 'Dnd3.5/ability', 'Dnd3.5/race', 'DnD3.5/klass', 'DnD3.5/saves', 'DnD3.5/skillz' %>

<div id="sheet_header">
	<span class="right"><%= link_to 'Edit', edit_character_path(@character) %> </span>
	<h2>Character Sheet</h2>
	<p>Mini blurb here</p>
</div>

<div id="sheet">
	
	<table width="100%">
		<tr>
			<td>	
				<% if @character.gender == "Female"%>
					<img src="/images/profile_female.png" alt"group photo" width="120px" />
				<% else %>
					<img src="/images/profile_male.png" alt"group photo" width="120px" />
				<% end %>
			</td>
			
			<td>
				<table class="stats">
					<tr>
						<td>
						<%=h @character.name %>
						</td>
							<td></td>
						<td>
							<%=link_to h(@character.user.name), @character.user %>
						</td>
							<td></td>
						<td>
							<%=link_to h(@character.campaign.title), @character.campaign %>
						</td>
					</tr>
					<tr>
						<td class="character_label">CHARACTER'S NAME</td>
						<td width="10"></td>
						<td class="character_label">PLAYER'S NAME</td>
						<td width="10"></td>
						<td class="character_label">CAMPAIGN</td>
					</tr>
				</table>

				<table class="stats">
					<tr>
						<td><%=h @character.race %></td>
						<td width="10"></td>
						<td><%=h @character.klass %></td>
						<td width="10"></td>
						<td><%=h @character.level %></td>
						<td width="10"></td>
						<td><%=h @character.deity %></td>
						<td width="10"></td>
						<td><%=h @character.alignment %></td>
					</tr>
					<tr>
						<td class="character_label">RACE</td>
						<td width="10"></td>
						<td class="character_label">CLASS</td>
						<td width="10"></td>
						<td class="character_label">LEVEL</td>
						<td width="10"></td>
						<td class="character_label">DEITY</td>
						<td width="10"></td>
						<td class="character_label">ALIGNMENT</td>
					</tr>
				</table>
				<table class="stats">
					<tr>
						<td><%=h @character.age %></td>
						<td width="10"></td>
						<td><%=h @character.gender %></td>
						<td width="10"></td>
					  <td><%=h @character.height %> inches</td>
						<td width="10"></td>
					  <td><%=h @character.weight %> .lbs</td>
						<td width="10"></td>
					  <td><%=h @character.eyes %></td>
						<td width="10"></td>
					  <td><%=h @character.hair %></td>
					</tr>
					<tr>
						<td class="character_label">AGE</td>
						<td width="10"></td>
						<td class="character_label">GENDER</td>
						<td width="10"></td>
						<td class="character_label">HEIGHT</td>
						<td width="10"></td>
						<td class="character_label">WEIGHT</td>
						<td width="10"></td>
						<td class="character_label">EYES</td>
						<td width="10"></td>
						<td class="character_label">HAIR</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

	<% @ability_names = [['STR','Strength',0,@character.STR],['DEX','Dexterity',1,@character.DEX],['CON','Constitution',0,@character.CON],['INT','Intelligence',1,@character.INT],['WIS','Wisdom',0,@character.WIS],['CHA','Charisma',1,@character.CHA]] %>
	<table style="border-collapse: collapse; border: solid 2px black; padding: 5px; width:300px; margin-top:10px">
		<tr>
			<th colspan="8" style="color: white; background:black;">Ability Scores</th>
		</tr>
		<tr>
			<th class="details">Ability<br />Name</th>
			<th class="details">Base</th>
			<th></th>
			<th class="details">Misc</th>
			<th></th>
			<th class="details">Total</th>
			<th></th>
			<th class="details">Modifier</th>
		</tr>
	<% @ability_names.each do |ability| %>
		<tr
		<% if(ability[2] == 0)%>
			class="tableSkill"
		<% end %>	
		> 
		<th><%=h ability[0] %><br /><span class="details"><%=h ability[1] %></span></th>
		<td><input disabled="disabled" type="text" id="character_<%=ability[0] %>" value="<%= ability[3] %>" size="2"></td>
		<td>+</td>
		<td><input disabled="disabled" type="text" id="MISC_<%=h ability[0] %>" value="0" size="2"></td>
		<td>=</td>
		<td><input disabled="disabled" type="text" id="TOTAL_<%=h ability[0] %>" value="0" size="2"></td>
		<td>|</td>
		<td><input disabled="disabled" type="text" id="MOD_<%=h ability[0] %>" value="0" size="2"></td>

		</tr>
	<% end %>
	</table>

	<script type="text/javascript" charset="utf-8">
		var character  = new Character();
	</script>
