<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>RPGalot</title>
<%= csrf_meta_tag %>
  <%= stylesheet_link_tag 'formtastic', 'formtastic_changes','scaffold', 'swapselect', 'style', 'fonts/stylesheet.css', :media => "all" %>
	<%= javascript_include_tag :defaults %>
	<%=h javascript_include_tag 'jQuery.datalink',  'jquery.defaultvalue'%>
	<!--[if !IE 7]>
		<style type="text/css">
			#wrap {display:table;height:100%}
		</style>
	<![endif]-->
</head>
<body>
	<div id="wrap">
	<div id="header">
		<div class="nav">
			<ul id="top_nav">
				<% if current_user %>
					<li><%= link_to h(current_user.name), current_user %>
						<ul><li><%= link_to 'Edit Profile', edit_user_path(:current) %></li>
							</ul>
							</li>
					<li><%= link_to 'Log Out', logout_path %></li>
				<% else %>
					<li><%= link_to 'Register', new_user_path %></li>
					<li><%= link_to 'Log In', login_path %></li>
				<% end %>
			</ul>
			<h1><%= link_to 'Dragon Horde', root_path %></h1>
		</div>
	</div>
	<div id="header_bottom"></div>
	

<div id="main">
<%= yield %>
</div>	
	</div>
	
	<div id="footer">
		<div class="nav">
		
		<ul id="footer-nav">
			<li>Learn More</li>
			<li>Feedback</li>
			<li>Blog</li>
			<li>Facebook</li>
			<li>Twitter</li>
		</ul>
		
		<p>Dragon Horde &copy; Frisky Business - Not a Porn Company</p>	
		</div>	
	</div>
</body>
</html>
